### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
**/*.pyc
leaderboards.json
highscores/
!settings/default.json
settings/
channels/
streakrankability/